In [1]:
#pip install google-cloud
#pip install --user google-cloud-bigquery
#pip install --user google-cloud-storage

# Create an SQL conection and add data

In [2]:
#Import packages to be used in running the code and set options
import pandas as pd
import os     # for direcoty management
import warnings
import numpy as np
from sqlalchemy import create_engine
import sqlite3
import math 
import plotly_express as px
import pandas_bokeh
from bokeh.io import output_file, show
from bokeh.layouts import gridplot
from bokeh.plotting import figure
#standard exception handline
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

# Set file paths
homedir = os.path.expanduser("~")
projdir = os.path.join(homedir,'Desktop','Personal Data','Masters','courses','current','python','exam')
creddir=os.path.join(homedir,'Desktop','Personal Data','Code and Research','sql')


#read the datasets from the file path and print 
customers=pd.read_excel('customer_data.xlsx')
suppliers=pd.read_excel('suppliers.xlsx')
orders=pd.read_excel('orders.xlsx')
products=pd.read_excel('products.xlsx')
orderdetails=pd.read_excel('order_details.xlsx')


#compile sql database via sql alchemy
cnx = create_engine('sqlite://')  #pass db url
customers.to_sql(name='customers', con=cnx,index=False)
suppliers.to_sql(name='suppliers', con=cnx,index=False)
orders.to_sql(name='orders', con=cnx,index=False)
products.to_sql(name='products', con=cnx,index=False)
orderdetails.to_sql(name='orderdetails', con=cnx,index=False)

#read the sql table from the connection
customers=pd.read_sql_table(table_name='customers', con=cnx)
suppliers=pd.read_sql_table(table_name='suppliers', con=cnx)
orders=pd.read_sql_table(table_name='orders', con=cnx)
products=pd.read_sql_table(table_name='products', con=cnx)
orderdetails=pd.read_sql_table(table_name='orderdetails', con=cnx)

In [3]:
import sqlalchemy

In [4]:
print(sqlalchemy.__version__)

1.3.2

In [5]:
#pip install sqlalchemy==1.3.2 --user

# Important SQL commands



SELECT - extracts data from a database
UPDATE - updates data in a database
DELETE - deletes data from a database
INSERT INTO - inserts new data into a database
CREATE DATABASE - creates a new database
ALTER DATABASE - modifies a database
CREATE TABLE - creates a new table
ALTER TABLE - modifies a table
DROP TABLE - deletes a table
CREATE INDEX - creates an index (search key)
DROP INDEX - deletes an index

# SELECT - used to extract data

#syntax
SELECT column1, column2, ...  (column1, column2, ... are the field names of the table you want to select data from)
FROM table_name;

if you wand to select all

SELECT * FROM table_name;

In [6]:

display(pd.read_sql_query("select * from customers", con=cnx))
display(pd.read_sql_query("select CustomerName,Address from customers", con=cnx))

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,5021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
6,7,Blondel père et fils,Frédérique Citeaux,"24, place Kléber",Strasbourg,67000,France
7,8,Bólido Comidas preparadas,Martín Sommer,"C/ Araquil, 67",Madrid,28023,Spain
8,9,Bon app',Laurence Lebihans,"12, rue des Bouchers",Marseille,13008,France
9,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada
10,11,B's Beverages,Victoria Ashworth,Fauntleroy Circus,London,EC2 5NT,UK
11,12,Cactus Comidas para llevar,Patricio Simpson,Cerrito 333,Buenos Aires,1010,Argentina
12,13,Centro comercial Moctezuma,Francisco Chang,Sierras de Granada 9993,México D.F.,5022,Mexico
13,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland
14,15,Comércio Mineiro,Pedro Afonso,"Av. dos Lusíadas, 23",São Paulo,05432-043,Brazil
15,16,Consolidated Holdings,Elizabeth Brown,Berkeley Gardens 12 Brewery,London,WX1 6LT,UK
16,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
17,18,Du monde entier,Janine Labrune,"67, rue des Cinquante Otages",Nantes,44000,France
18,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK
19,20,Ernst Handel,Roland Mendel,Kirchgasse 6,Graz,8010,Austria
20,21,Familia Arquibaldo,Aria Cruz,"Rua Orós, 92",São Paulo,05442-030,Brazil
21,22,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,"C/ Moralzarzal, 86",Madrid,28034,Spain
22,23,Folies gourmandes,Martine Rancé,"184, chaussée de Tournai",Lille,59000,France
23,24,Folk och fä HB,Maria Larsson,Åkergatan 24,Bräcke,S-844 67,Sweden
24,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
25,26,France restauration,Carine Schmitt,"54, rue Royale",Nantes,44000,France
26,27,Franchi S.p.A.,Paolo Accorti,Via Monte Bianco 34,Torino,10100,Italy
27,28,Furia Bacalhau e Frutos do Mar,Lino Rodriguez,Jardim das rosas n. 32,Lisboa,1675,Portugal
28,29,Galería del gastrónomo,Eduardo Saavedra,"Rambla de Cataluña, 23",Barcelona,8022,Spain
29,30,Godos Cocina Típica,José Pedro Freyre,"C/ Romero, 33",Sevilla,41101,Spain
30,31,Gourmet Lanchonetes,André Fonseca,"Av. Brasil, 442",Campinas,04876-786,Brazil
31,32,Great Lakes Food Market,Howard Snyder,2732 Baker Blvd.,Eugene,97403,USA
32,33,GROSELLA-Restaurante,Manuel Pereira,5ª Ave. Los Palos Grandes,Caracas,1081,Venezuela
33,34,Hanari Carnes,Mario Pontes,"Rua do Paço, 67",Rio de Janeiro,05454-876,Brazil
34,35,HILARIÓN-Abastos,Carlos Hernández,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,5022,Venezuela
35,36,Hungry Coyote Import Store,Yoshi Latimer,City Center Plaza 516 Main St.,Elgin,97827,USA
36,37,Hungry Owl All-Night Grocers,Patricia McKenna,8 Johnstown Road,Cork,None,Ireland
37,38,Island Trading,Helen Bennett,Garden House Crowther Way,Cowes,PO31 7PJ,UK
38,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
39,40,La corne d'abondance,Daniel Tonini,"67, avenue de l'Europe",Versailles,78000,France
40,41,La maison d'Asie,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France
41,42,Laughing Bacchus Wine Cellars,Yoshi Tannamuri,1900 Oak St.,Vancouver,V3F 2K1,Canada
42,43,Lazy K Kountry Store,John Steel,12 Orchestra Terrace,Walla Walla,99362,USA
43,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
44,45,Let's Stop N Shop,Jaime Yorres,87 Polk St. Suite 5,San Francisco,94117,USA
45,46,LILA-Supermercado,Carlos González,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,3508,Venezuela
46,47,LINO-Delicateses,Felipe Izquierdo,Ave. 5 de Mayo Porlamar,I. de Margarita,4980,Venezuela
47,48,Lonesome Pine Restaurant,Fran Wilson,89 Chiaroscuro Rd.,Portland,97219,USA
48,49,Magazzini Alimentari Riuniti,Giovanni Rovelli,Via Ludovico il Moro 22,Bergamo,24100,Italy
49,50,Maison Dewey,Catherine Dewey,Rue Joseph-Bens 532,Bruxelles,B-1180,Belgium
50,51,Mère Paillarde,Jean Fresnière,43 rue St. Laurent,Montréal,H1J 1C3,Canada
51,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,4179,Germany
52,53,North/South,Simon Crowther,South House 300 Queensbridge,London,SW7 1RZ,UK
53,54,Océano Atlántico Ltda.,Yvonne Moncada,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,1010,Argentina
54,55,Old World Delicatessen,Rene Phillips,2743 Bering St.,Anchorage,99508,USA
55,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
56,57,Paris spécialités,Marie Bertrand,"265, boulevard Charonne",Paris,75012,France
57,58,Pericles Comidas clásicas,Guillermo Fernández,Calle Dr. Jorge Cash 321,México D.F.,5033,Mexico
58,59,Piccolo und mehr,Georg Pipps,Geislweg 14,Salzburg,5020,Austria
59,60,Princesa Isabel Vinhoss,Isabel de Castro,Estrada da saúde n. 58,Lisboa,1756,Portugal
60,61,Que Delícia,Bernardo Batista,"Rua da Panificadora, 12",Rio de Janeiro,02389-673,Brazil
61,62,Queen Cozinha,Lúcia Carvalho,"Alameda dos Canàrios, 891",São Paulo,05487-020,Brazil
62,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,1307,Germany
63,64,Rancho grande,Sergio Gutiérrez,Av. del Libertador 900,Buenos Aires,1010,Argentina
64,65,Rattlesnake Canyon Grocery,Paula Wilson,2817 Milton Dr.,Albuquerque,87110,USA
65,66,Reggiani Caseifici,Maurizio Moroni,Strada Provinciale 124,Reggio Emilia,42100,Italy
66,67,Ricardo Adocicados,Janete Limeira,"Av. Copacabana, 267",Rio de Janeiro,02389-890,Brazil
67,68,Richter Supermarkt,Michael Holz,Grenzacherweg 237,Genève,1203,Switzerland
68,69,Romero y tomillo,Alejandra Camino,"Gran Vía, 1",Madrid,28001,Spain
69,70,Santé Gourmet,Jonas Bergulfsen,Erling Skakkes gate 78,Stavern,4110,Norway
70,71,Save-a-lot Markets,Jose Pavarotti,187 Suffolk Ln.,Boise,83720,USA
71,72,Seven Seas Imports,Hari Kumar,90 Wadhurst Rd.,London,OX15 4NB,UK
72,73,Simons bistro,Jytte Petersen,Vinbæltet 34,København,1734,Denmark
73,74,Spécialités du monde,Dominique Perrier,"25, rue Lauriston",Paris,75016,France
74,75,Split Rail Beer & Ale,Art Braunschweiger,P.O. Box 555,Lander,82520,USA
75,76,Suprêmes délices,Pascale Cartrain,"Boulevard Tirou, 255",Charleroi,B-6000,Belgium
76,77,The Big Cheese,Liz Nixon,89 Jefferson Way Suite 2,Portland,97201,USA
77,78,The Cracker Box,Liu Wong,55 Grizzly Peak Rd.,Butte,59801,USA
78,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
79,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,5033,Mexico
80,81,Tradição Hipermercados,Anabela Domingues,"Av. Inês de Castro, 414",São Paulo,05634-030,Brazil
81,82,Trail's Head Gourmet Provisioners,Helvetius Nagy,722 DaVinci Blvd.,Kirkland,98034,USA
82,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark
83,84,Victuailles en stock,Mary Saveley,"2, rue du Commerce",Lyon,69004,France
84,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
85,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany
86,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,"Rua do Mercado, 12",Resende,08737-363,Brazil
88,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland

,CustomerName,Address
0,Alfreds Futterkiste,Obere Str. 57
1,Ana Trujillo Emparedados y helados,Avda. de la Constitución 2222
2,Antonio Moreno Taquería,Mataderos 2312
3,Around the Horn,120 Hanover Sq.
4,Berglunds snabbköp,Berguvsvägen 8
5,Blauer See Delikatessen,Forsterstr. 57
6,Blondel père et fils,"24, place Kléber"
7,Bólido Comidas preparadas,"C/ Araquil, 67"
8,Bon app',"12, rue des Bouchers"
9,Bottom-Dollar Marketse,23 Tsawassen Blvd.
10,B's Beverages,Fauntleroy Circus
11,Cactus Comidas para llevar,Cerrito 333
12,Centro comercial Moctezuma,Sierras de Granada 9993
13,Chop-suey Chinese,Hauptstr. 29
14,Comércio Mineiro,"Av. dos Lusíadas, 23"
15,Consolidated Holdings,Berkeley Gardens 12 Brewery
16,Drachenblut Delikatessend,Walserweg 21
17,Du monde entier,"67, rue des Cinquante Otages"
18,Eastern Connection,35 King George
19,Ernst Handel,Kirchgasse 6
20,Familia Arquibaldo,"Rua Orós, 92"
21,FISSA Fabrica Inter. Salchichas S.A.,"C/ Moralzarzal, 86"
22,Folies gourmandes,"184, chaussée de Tournai"
23,Folk och fä HB,Åkergatan 24
24,Frankenversand,Berliner Platz 43
25,France restauration,"54, rue Royale"
26,Franchi S.p.A.,Via Monte Bianco 34
27,Furia Bacalhau e Frutos do Mar,Jardim das rosas n. 32
28,Galería del gastrónomo,"Rambla de Cataluña, 23"
29,Godos Cocina Típica,"C/ Romero, 33"
30,Gourmet Lanchonetes,"Av. Brasil, 442"
31,Great Lakes Food Market,2732 Baker Blvd.
32,GROSELLA-Restaurante,5ª Ave. Los Palos Grandes
33,Hanari Carnes,"Rua do Paço, 67"
34,HILARIÓN-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35
35,Hungry Coyote Import Store,City Center Plaza 516 Main St.
36,Hungry Owl All-Night Grocers,8 Johnstown Road
37,Island Trading,Garden House Crowther Way
38,Königlich Essen,Maubelstr. 90
39,La corne d'abondance,"67, avenue de l'Europe"
40,La maison d'Asie,1 rue Alsace-Lorraine
41,Laughing Bacchus Wine Cellars,1900 Oak St.
42,Lazy K Kountry Store,12 Orchestra Terrace
43,Lehmanns Marktstand,Magazinweg 7
44,Let's Stop N Shop,87 Polk St. Suite 5
45,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo
46,LINO-Delicateses,Ave. 5 de Mayo Porlamar
47,Lonesome Pine Restaurant,89 Chiaroscuro Rd.
48,Magazzini Alimentari Riuniti,Via Ludovico il Moro 22
49,Maison Dewey,Rue Joseph-Bens 532
50,Mère Paillarde,43 rue St. Laurent
51,Morgenstern Gesundkost,Heerstr. 22
52,North/South,South House 300 Queensbridge
53,Océano Atlántico Ltda.,Ing. Gustavo Moncada 8585 Piso 20-A
54,Old World Delicatessen,2743 Bering St.
55,Ottilies Käseladen,Mehrheimerstr. 369
56,Paris spécialités,"265, boulevard Charonne"
57,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321
58,Piccolo und mehr,Geislweg 14
59,Princesa Isabel Vinhoss,Estrada da saúde n. 58
60,Que Delícia,"Rua da Panificadora, 12"
61,Queen Cozinha,"Alameda dos Canàrios, 891"
62,QUICK-Stop,Taucherstraße 10
63,Rancho grande,Av. del Libertador 900
64,Rattlesnake Canyon Grocery,2817 Milton Dr.
65,Reggiani Caseifici,Strada Provinciale 124
66,Ricardo Adocicados,"Av. Copacabana, 267"
67,Richter Supermarkt,Grenzacherweg 237
68,Romero y tomillo,"Gran Vía, 1"
69,Santé Gourmet,Erling Skakkes gate 78
70,Save-a-lot Markets,187 Suffolk Ln.
71,Seven Seas Imports,90 Wadhurst Rd.
72,Simons bistro,Vinbæltet 34
73,Spécialités du monde,"25, rue Lauriston"
74,Split Rail Beer & Ale,P.O. Box 555
75,Suprêmes délices,"Boulevard Tirou, 255"
76,The Big Cheese,89 Jefferson Way Suite 2
77,The Cracker Box,55 Grizzly Peak Rd.
78,Toms Spezialitäten,Luisenstr. 48
79,Tortuga Restaurante,Avda. Azteca 123
80,Tradição Hipermercados,"Av. Inês de Castro, 414"
81,Trail's Head Gourmet Provisioners,722 DaVinci Blvd.
82,Vaffeljernet,Smagsløget 45
83,Victuailles en stock,"2, rue du Commerce"
84,Vins et alcools Chevalier,59 rue de l'Abbaye
85,Die Wandernde Kuh,Adenauerallee 900
86,Wartian Herkku,Torikatu 38
87,Wellington Importadora,"Rua do Mercado, 12"
88,White Clover Markets,305 - 14th Ave. S. Suite 3B
89,Wilman Kala,Keskuskatu 45
90,Wolski,ul. Filtrowa 68

# SELECT DISTINCT - used to return only distinct without duplicates

#syntax
SELECT DISTINCT column1, column2, ...
FROM table_name;

In [7]:
display(pd.read_sql_query("select distinct Country from customers", con=cnx))

        Country
0       Germany
1        Mexico
2            UK
3        Sweden
4        France
5         Spain
6        Canada
7     Argentina
8   Switzerland
9        Brazil
10      Austria
11        Italy
12     Portugal
13          USA
14    Venezuela
15      Ireland
16      Belgium
17       Norway
18      Denmark
19      Finland
20       Poland

In [8]:
#count of distonct countries
pd.read_sql_query("select count(distinct Country) from customers", con=cnx)

   count(distinct Country)
0                       21

# SQL WHERE Clause - used to filter records that satisfy a given condition

SELECT column1, column2, ...
FROM table_name
WHERE condition;

Note: The WHERE clause is not only used in SELECT statements, it is also used in UPDATE, DELETE, et

In [9]:
#filter for records where country equals mexico
pd.read_sql_query("select * from customers where country='Mexico'", con=cnx)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,5021,Mexico
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,5023,Mexico
2,13,Centro comercial Moctezuma,Francisco Chang,Sierras de Granada 9993,México D.F.,5022,Mexico
3,58,Pericles Comidas clásicas,Guillermo Fernández,Calle Dr. Jorge Cash 321,México D.F.,5033,Mexico
4,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,5033,Mexico

# where clause operators
= Equal
> Greater than
< Less than
>= Greater than or equal
<= Less than or equal
<> Not equal. Note: In some versions of SQL this operator may be written as !=
BETWEEN Between a certain range
LIKE Search for a pattern
IN To specify multiple possible values for a column

# SQL AND, OR and NOT Operators - Use with where to filter based on conditions

#syntax
SELECT column1, column2, ...
FROM table_name
WHERE condition1 AND/OR condition2 AND/OR condition3 ...;

SELECT column1, column2, ...
FROM table_name
WHERE NOT condition;

In [10]:
pd.read_sql_query("select * from customers where country='Germany' and (city ='Berlin' or city = 'München')", con=cnx)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany

In [11]:
pd.read_sql_query("select * from customers where not country='Germany' \
and not country='USA' and not country='Mexico' and not country='UK' and not country='Brazil' ", con=cnx)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
1,7,Blondel père et fils,Frédérique Citeaux,"24, place Kléber",Strasbourg,67000,France
2,8,Bólido Comidas preparadas,Martín Sommer,"C/ Araquil, 67",Madrid,28023,Spain
3,9,Bon app',Laurence Lebihans,"12, rue des Bouchers",Marseille,13008,France
4,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada
5,12,Cactus Comidas para llevar,Patricio Simpson,Cerrito 333,Buenos Aires,1010,Argentina
6,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland
7,18,Du monde entier,Janine Labrune,"67, rue des Cinquante Otages",Nantes,44000,France
8,20,Ernst Handel,Roland Mendel,Kirchgasse 6,Graz,8010,Austria
9,22,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,"C/ Moralzarzal, 86",Madrid,28034,Spain
10,23,Folies gourmandes,Martine Rancé,"184, chaussée de Tournai",Lille,59000,France
11,24,Folk och fä HB,Maria Larsson,Åkergatan 24,Bräcke,S-844 67,Sweden
12,26,France restauration,Carine Schmitt,"54, rue Royale",Nantes,44000,France
13,27,Franchi S.p.A.,Paolo Accorti,Via Monte Bianco 34,Torino,10100,Italy
14,28,Furia Bacalhau e Frutos do Mar,Lino Rodriguez,Jardim das rosas n. 32,Lisboa,1675,Portugal
15,29,Galería del gastrónomo,Eduardo Saavedra,"Rambla de Cataluña, 23",Barcelona,8022,Spain
16,30,Godos Cocina Típica,José Pedro Freyre,"C/ Romero, 33",Sevilla,41101,Spain
17,33,GROSELLA-Restaurante,Manuel Pereira,5ª Ave. Los Palos Grandes,Caracas,1081,Venezuela
18,35,HILARIÓN-Abastos,Carlos Hernández,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,5022,Venezuela
19,37,Hungry Owl All-Night Grocers,Patricia McKenna,8 Johnstown Road,Cork,None,Ireland
20,40,La corne d'abondance,Daniel Tonini,"67, avenue de l'Europe",Versailles,78000,France
21,41,La maison d'Asie,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France
22,42,Laughing Bacchus Wine Cellars,Yoshi Tannamuri,1900 Oak St.,Vancouver,V3F 2K1,Canada
23,46,LILA-Supermercado,Carlos González,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,3508,Venezuela
24,47,LINO-Delicateses,Felipe Izquierdo,Ave. 5 de Mayo Porlamar,I. de Margarita,4980,Venezuela
25,49,Magazzini Alimentari Riuniti,Giovanni Rovelli,Via Ludovico il Moro 22,Bergamo,24100,Italy
26,50,Maison Dewey,Catherine Dewey,Rue Joseph-Bens 532,Bruxelles,B-1180,Belgium
27,51,Mère Paillarde,Jean Fresnière,43 rue St. Laurent,Montréal,H1J 1C3,Canada
28,54,Océano Atlántico Ltda.,Yvonne Moncada,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,1010,Argentina
29,57,Paris spécialités,Marie Bertrand,"265, boulevard Charonne",Paris,75012,France
30,59,Piccolo und mehr,Georg Pipps,Geislweg 14,Salzburg,5020,Austria
31,60,Princesa Isabel Vinhoss,Isabel de Castro,Estrada da saúde n. 58,Lisboa,1756,Portugal
32,64,Rancho grande,Sergio Gutiérrez,Av. del Libertador 900,Buenos Aires,1010,Argentina
33,66,Reggiani Caseifici,Maurizio Moroni,Strada Provinciale 124,Reggio Emilia,42100,Italy
34,68,Richter Supermarkt,Michael Holz,Grenzacherweg 237,Genève,1203,Switzerland
35,69,Romero y tomillo,Alejandra Camino,"Gran Vía, 1",Madrid,28001,Spain
36,70,Santé Gourmet,Jonas Bergulfsen,Erling Skakkes gate 78,Stavern,4110,Norway
37,73,Simons bistro,Jytte Petersen,Vinbæltet 34,København,1734,Denmark
38,74,Spécialités du monde,Dominique Perrier,"25, rue Lauriston",Paris,75016,France
39,76,Suprêmes délices,Pascale Cartrain,"Boulevard Tirou, 255",Charleroi,B-6000,Belgium
40,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark
41,84,Victuailles en stock,Mary Saveley,"2, rue du Commerce",Lyon,69004,France
42,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
43,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland
44,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
45,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland

# SQL ORDER BY - used to sort the result-set in ascending or descending order. This can be combined with LIMIT to restrict the result set to a fixed number of rows

#syntax
SELECT column1, column2, ...
FROM table_name
ORDER BY column1 ASC|DESC, column2 ASC|DESC,
LIMIT N ;

In [12]:
pd.read_sql_query(" select * from customers order by CustomerID desc limit 5", con=cnx)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland
1,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
2,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
3,88,Wellington Importadora,Paula Parente,"Rua do Mercado, 12",Resende,08737-363,Brazil
4,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland

# SQL INSERT INTO - used to insert new records in a table

#syntax
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

In [13]:
pd.read_sql_query("set nocount on  insert into customers (CustomerName, ContactName, Address, City, PostalCode, Country) \
values ('Jane', 'Jane Doe', 'Nairobi 32', 'Nairobi', '00100', 'Kenya')", con=cnx)

OperationalError: (sqlite3.OperationalError) near "set": syntax error
[SQL: set nocount on  insert into customers (CustomerName, ContactName, Address, City, PostalCode, Country) values ('Jane', 'Jane Doe', 'Nairobi 32', 'Nairobi', '00100', 'Kenya')]
(Background on this error at: http://sqlalche.me/e/e3q8)

# SQL NULL Values - A field with a NULL value is a field with no value.

#syntax -select null values
SELECT column_names
FROM table_name
WHERE column_name IS NULL;
#syntax -select non null values

SELECT column_names
FROM table_name
WHERE column_name IS NOT NULL;

In [ ]:
pd.read_sql_query("select CustomerName, ContactName, Address from customers where  Address is null", con=cnx)

# SQL UPDATE Statement - used to modify the existing records in a table.

#syntax
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

In [ ]:
pd.read_sql_query("update customers set ContactName='Carol' where  CustomerID=5 ", con=cnx)

# SQL DELETE Statement - used to delete existing records in a table.

# syntax
DELETE FROM table_name WHERE condition;

In [ ]:
pd.read_sql_query("delete from customers where CustomerName='Alfreds Futterkiste' ", con=cnx)

# SQL TOP, LIMIT, FETCH FIRST or ROWNUM Clause

#syntax
SELECT TOP number|percent column_name(s)
FROM table_name
WHERE condition;

SELECT column_name(s)
FROM table_name
ORDER BY column_name(s)
FETCH FIRST number ROWS ONLY / LIMIT number /;

SELECT column_name(s)
FROM table_name
WHERE ROWNUM <= number;

In [14]:
pd.read_sql_query("select * from customers order by CustomerID desc limit 5", con=cnx)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland
1,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
2,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
3,88,Wellington Importadora,Paula Parente,"Rua do Mercado, 12",Resende,08737-363,Brazil
4,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland

# SQL MIN() and MAX()- returns the smallest value the largest value of the selected column respectively

#syntax
SELECT MIN(column_name)
FROM table_name
WHERE condition;

SELECT MAX(column_name)
FROM table_name
WHERE condition;

In [15]:
pd.read_sql_query("select max(CustomerID) from customers as highestid ", con=cnx)

   max(CustomerID)
0               91

# SQL COUNT(), AVG() and SUM() -returns the number of rows that matches a criterion,average value of a numeric column and total sum of a numeric column respectively

# synatx
SELECT COUNT(column_name)
FROM table_name
WHERE condition;

SELECT AVG(column_name)
FROM table_name
WHERE condition;

SELECT SUM(column_name)
FROM table_name
WHERE condition;

In [16]:
pd.read_sql_query("select count(CustomerID) from customers ", con=cnx)

   count(CustomerID)
0                 91

In [17]:
pd.read_sql_query("select avg(CustomerID) from customers ", con=cnx)

   avg(CustomerID)
0             46.0

In [18]:
pd.read_sql_query("select sum(CustomerID) from customers ", con=cnx)

   sum(CustomerID)
0             4186

# SQL LIKE - used in a WHERE clause to search for a specified pattern in a column

#syntax
The percent sign (%) represents zero, one, or multiple characters
The underscore sign (_) represents one, single character

'a%'-start with a
'%or%' - have or in any position
'_r%' - have r in second position
'a__%' - start with a , atleast 3 characters in length
'a%o' - start with a end with o


SELECT column1, column2, ...
FROM table_name
WHERE columnN LIKE pattern;

In [19]:
pd.read_sql_query("select CustomerName from customers where CustomerName like 'w%a' ", con=cnx)

             CustomerName
0  Wellington Importadora
1             Wilman Kala

# SQL Wildcard Characters - used to substitute one or more characters in a string

# syantax
* Represents zero or more characters bl* finds bl, black, blue, and blob
? Represents a single character h?t finds hot, hat, and hit
[] Represents any single character within the brackets h[oa]t finds hot and hat, but not hit
! Represents any character not in the brackets h[!oa]t finds hit, but not hot and hat
- Represents any single character within the specified range c[a-b]t finds cat and cbt
# Represents any single numeric character
% Represents zero or more characters bl% finds bl, black, blue, and blob
_ Represents a single character h_t finds hot, hat, and hit
^ Represents any character not in the brackets h[^oa]t finds hit, but not hot and hat
- Represents any single character within the specified range c[a-b]t finds cat and cbt

In [20]:
pd.read_sql_query("select CustomerName from customers where CustomerName like 'wi%' ", con=cnx)

  CustomerName
0  Wilman Kala

# SQL IN Operator-allows you to specify multiple values in a WHERE clause , its a shorthand for multiple OR conditions

#syntax
SELECT column_name(s)
FROM table_name
WHERE column_name IN/NOT IN (value1, value2, ...);


SELECT column_name(s)
FROM table_name
WHERE column_name IN (SELECT STATEMENT);

In [21]:
suppliers.head()

,SupplierID,SupplierName,ContactName,Address,City,PostalCode,Country,Phone
0,1,Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
1,2,New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822
2,3,Grandma Kelly's Homestead,Regina Murphy,707 Oxford Rd.,Ann Arbor,48104,USA,(313) 555-5735
3,4,Tokyo Traders,Yoshi Nagase,9-8 Sekimai Musashino-shi,Tokyo,100,Japan,(03) 3555-5011
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Calle del Rosal 4,Oviedo,33007,Spain,(98) 598 76 54

In [22]:
pd.read_sql_query("select * from customers where Country in ('Germany', 'UK') ", con=cnx)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
2,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
3,11,B's Beverages,Victoria Ashworth,Fauntleroy Circus,London,EC2 5NT,UK
4,16,Consolidated Holdings,Elizabeth Brown,Berkeley Gardens 12 Brewery,London,WX1 6LT,UK
5,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
6,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK
7,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
8,38,Island Trading,Helen Bennett,Garden House Crowther Way,Cowes,PO31 7PJ,UK
9,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
10,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
11,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,4179,Germany
12,53,North/South,Simon Crowther,South House 300 Queensbridge,London,SW7 1RZ,UK
13,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
14,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,1307,Germany
15,72,Seven Seas Imports,Hari Kumar,90 Wadhurst Rd.,London,OX15 4NB,UK
16,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
17,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany

In [23]:
pd.read_sql_query("select * from customers where Country in (select Country from suppliers) ", con=cnx)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
2,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
3,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
4,7,Blondel père et fils,Frédérique Citeaux,"24, place Kléber",Strasbourg,67000,France
5,8,Bólido Comidas preparadas,Martín Sommer,"C/ Araquil, 67",Madrid,28023,Spain
6,9,Bon app',Laurence Lebihans,"12, rue des Bouchers",Marseille,13008,France
7,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada
8,11,B's Beverages,Victoria Ashworth,Fauntleroy Circus,London,EC2 5NT,UK
9,15,Comércio Mineiro,Pedro Afonso,"Av. dos Lusíadas, 23",São Paulo,05432-043,Brazil
10,16,Consolidated Holdings,Elizabeth Brown,Berkeley Gardens 12 Brewery,London,WX1 6LT,UK
11,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
12,18,Du monde entier,Janine Labrune,"67, rue des Cinquante Otages",Nantes,44000,France
13,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK
14,21,Familia Arquibaldo,Aria Cruz,"Rua Orós, 92",São Paulo,05442-030,Brazil
15,22,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,"C/ Moralzarzal, 86",Madrid,28034,Spain
16,23,Folies gourmandes,Martine Rancé,"184, chaussée de Tournai",Lille,59000,France
17,24,Folk och fä HB,Maria Larsson,Åkergatan 24,Bräcke,S-844 67,Sweden
18,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
19,26,France restauration,Carine Schmitt,"54, rue Royale",Nantes,44000,France
20,27,Franchi S.p.A.,Paolo Accorti,Via Monte Bianco 34,Torino,10100,Italy
21,29,Galería del gastrónomo,Eduardo Saavedra,"Rambla de Cataluña, 23",Barcelona,8022,Spain
22,30,Godos Cocina Típica,José Pedro Freyre,"C/ Romero, 33",Sevilla,41101,Spain
23,31,Gourmet Lanchonetes,André Fonseca,"Av. Brasil, 442",Campinas,04876-786,Brazil
24,32,Great Lakes Food Market,Howard Snyder,2732 Baker Blvd.,Eugene,97403,USA
25,34,Hanari Carnes,Mario Pontes,"Rua do Paço, 67",Rio de Janeiro,05454-876,Brazil
26,36,Hungry Coyote Import Store,Yoshi Latimer,City Center Plaza 516 Main St.,Elgin,97827,USA
27,38,Island Trading,Helen Bennett,Garden House Crowther Way,Cowes,PO31 7PJ,UK
28,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
29,40,La corne d'abondance,Daniel Tonini,"67, avenue de l'Europe",Versailles,78000,France
30,41,La maison d'Asie,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France
31,42,Laughing Bacchus Wine Cellars,Yoshi Tannamuri,1900 Oak St.,Vancouver,V3F 2K1,Canada
32,43,Lazy K Kountry Store,John Steel,12 Orchestra Terrace,Walla Walla,99362,USA
33,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
34,45,Let's Stop N Shop,Jaime Yorres,87 Polk St. Suite 5,San Francisco,94117,USA
35,48,Lonesome Pine Restaurant,Fran Wilson,89 Chiaroscuro Rd.,Portland,97219,USA
36,49,Magazzini Alimentari Riuniti,Giovanni Rovelli,Via Ludovico il Moro 22,Bergamo,24100,Italy
37,51,Mère Paillarde,Jean Fresnière,43 rue St. Laurent,Montréal,H1J 1C3,Canada
38,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,4179,Germany
39,53,North/South,Simon Crowther,South House 300 Queensbridge,London,SW7 1RZ,UK
40,55,Old World Delicatessen,Rene Phillips,2743 Bering St.,Anchorage,99508,USA
41,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
42,57,Paris spécialités,Marie Bertrand,"265, boulevard Charonne",Paris,75012,France
43,61,Que Delícia,Bernardo Batista,"Rua da Panificadora, 12",Rio de Janeiro,02389-673,Brazil
44,62,Queen Cozinha,Lúcia Carvalho,"Alameda dos Canàrios, 891",São Paulo,05487-020,Brazil
45,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,1307,Germany
46,65,Rattlesnake Canyon Grocery,Paula Wilson,2817 Milton Dr.,Albuquerque,87110,USA
47,66,Reggiani Caseifici,Maurizio Moroni,Strada Provinciale 124,Reggio Emilia,42100,Italy
48,67,Ricardo Adocicados,Janete Limeira,"Av. Copacabana, 267",Rio de Janeiro,02389-890,Brazil
49,69,Romero y tomillo,Alejandra Camino,"Gran Vía, 1",Madrid,28001,Spain
50,70,Santé Gourmet,Jonas Bergulfsen,Erling Skakkes gate 78,Stavern,4110,Norway
51,71,Save-a-lot Markets,Jose Pavarotti,187 Suffolk Ln.,Boise,83720,USA
52,72,Seven Seas Imports,Hari Kumar,90 Wadhurst Rd.,London,OX15 4NB,UK
53,73,Simons bistro,Jytte Petersen,Vinbæltet 34,København,1734,Denmark
54,74,Spécialités du monde,Dominique Perrier,"25, rue Lauriston",Paris,75016,France
55,75,Split Rail Beer & Ale,Art Braunschweiger,P.O. Box 555,Lander,82520,USA
56,77,The Big Cheese,Liz Nixon,89 Jefferson Way Suite 2,Portland,97201,USA
57,78,The Cracker Box,Liu Wong,55 Grizzly Peak Rd.,Butte,59801,USA
58,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
59,81,Tradição Hipermercados,Anabela Domingues,"Av. Inês de Castro, 414",São Paulo,05634-030,Brazil
60,82,Trail's Head Gourmet Provisioners,Helvetius Nagy,722 DaVinci Blvd.,Kirkland,98034,USA
61,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark
62,84,Victuailles en stock,Mary Saveley,"2, rue du Commerce",Lyon,69004,France
63,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
64,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany
65,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland
66,88,Wellington Importadora,Paula Parente,"Rua do Mercado, 12",Resende,08737-363,Brazil
67,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
68,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland

# SQL BETWEEN Operator - selects values within a given range. The values can be numbers, text, or dates. It is is inclusive: begin and end values are included

#syntax
SELECT column_name(s)
FROM table_name
WHERE column_name BETWEEN value1 AND value2;

In [24]:
pd.read_sql_query("select * from customers where CustomerID between 1 and 10 ", con=cnx)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,5021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
6,7,Blondel père et fils,Frédérique Citeaux,"24, place Kléber",Strasbourg,67000,France
7,8,Bólido Comidas preparadas,Martín Sommer,"C/ Araquil, 67",Madrid,28023,Spain
8,9,Bon app',Laurence Lebihans,"12, rue des Bouchers",Marseille,13008,France
9,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada

In [25]:
#Country BETWEEN 'M%' AND 'U%' fetches records where the country value starts from either 'M%' 
#or any character before 'U%' (but not 'U').

pd.read_sql_query("select * from customers where Country between 'M%' and 'U%' ", con=cnx)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,5021,Mexico
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,5023,Mexico
2,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
3,8,Bólido Comidas preparadas,Martín Sommer,"C/ Araquil, 67",Madrid,28023,Spain
4,13,Centro comercial Moctezuma,Francisco Chang,Sierras de Granada 9993,México D.F.,5022,Mexico
5,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland
6,22,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,"C/ Moralzarzal, 86",Madrid,28034,Spain
7,24,Folk och fä HB,Maria Larsson,Åkergatan 24,Bräcke,S-844 67,Sweden
8,28,Furia Bacalhau e Frutos do Mar,Lino Rodriguez,Jardim das rosas n. 32,Lisboa,1675,Portugal
9,29,Galería del gastrónomo,Eduardo Saavedra,"Rambla de Cataluña, 23",Barcelona,8022,Spain
10,30,Godos Cocina Típica,José Pedro Freyre,"C/ Romero, 33",Sevilla,41101,Spain
11,58,Pericles Comidas clásicas,Guillermo Fernández,Calle Dr. Jorge Cash 321,México D.F.,5033,Mexico
12,60,Princesa Isabel Vinhoss,Isabel de Castro,Estrada da saúde n. 58,Lisboa,1756,Portugal
13,68,Richter Supermarkt,Michael Holz,Grenzacherweg 237,Genève,1203,Switzerland
14,69,Romero y tomillo,Alejandra Camino,"Gran Vía, 1",Madrid,28001,Spain
15,70,Santé Gourmet,Jonas Bergulfsen,Erling Skakkes gate 78,Stavern,4110,Norway
16,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,5033,Mexico
17,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland

# SQL Aliases - SQL aliases are used to give a table, or a column in a table, a temporary name.

SELECT column_name AS alias_name
FROM table_name;

SELECT column_name(s)
FROM table_name AS alias_name;

It requires double quotation marks or square brackets if the alias name contains spaces
SELECT CustomerName AS Customer, ContactName AS [Contact Person]
FROM Customers;

SELECT CustomerName, Address + ', ' + PostalCode + ' ' + City + ', ' + Country AS Address
FROM Customers;

aliases for tables
SELECT o.OrderID, o.OrderDate, c.CustomerName
FROM Customers AS c, Orders AS o
WHERE c.CustomerName='Around the Horn' AND c.CustomerID=o.CustomerID;

In [26]:
customers.head(10)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,5021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
6,7,Blondel père et fils,Frédérique Citeaux,"24, place Kléber",Strasbourg,67000,France
7,8,Bólido Comidas preparadas,Martín Sommer,"C/ Araquil, 67",Madrid,28023,Spain
8,9,Bon app',Laurence Lebihans,"12, rue des Bouchers",Marseille,13008,France
9,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada

In [27]:
pd.read_sql_query("select CustomerName,Country as Address from customers ", con=cnx)

                            CustomerName      Address
0                    Alfreds Futterkiste      Germany
1     Ana Trujillo Emparedados y helados       Mexico
2                Antonio Moreno Taquería       Mexico
3                        Around the Horn           UK
4                     Berglunds snabbköp       Sweden
5                Blauer See Delikatessen      Germany
6                   Blondel père et fils       France
7              Bólido Comidas preparadas        Spain
8                               Bon app'       France
9                 Bottom-Dollar Marketse       Canada
10                         B's Beverages           UK
11            Cactus Comidas para llevar    Argentina
12            Centro comercial Moctezuma       Mexico
13                     Chop-suey Chinese  Switzerland
14                      Comércio Mineiro       Brazil
15                 Consolidated Holdings           UK
16             Drachenblut Delikatessend      Germany
17                       Du monde entier       France
18                    Eastern Connection           UK
19                          Ernst Handel      Austria
20                    Familia Arquibaldo       Brazil
21  FISSA Fabrica Inter. Salchichas S.A.        Spain
22                     Folies gourmandes       France
23                        Folk och fä HB       Sweden
24                        Frankenversand      Germany
25                   France restauration       France
26                        Franchi S.p.A.        Italy
27        Furia Bacalhau e Frutos do Mar     Portugal
28                Galería del gastrónomo        Spain
29                   Godos Cocina Típica        Spain
30                   Gourmet Lanchonetes       Brazil
31               Great Lakes Food Market          USA
32                  GROSELLA-Restaurante    Venezuela
33                         Hanari Carnes       Brazil
34                      HILARIÓN-Abastos    Venezuela
35            Hungry Coyote Import Store          USA
36          Hungry Owl All-Night Grocers      Ireland
37                        Island Trading           UK
38                       Königlich Essen      Germany
39                  La corne d'abondance       France
40                      La maison d'Asie       France
41         Laughing Bacchus Wine Cellars       Canada
42                  Lazy K Kountry Store          USA
43                   Lehmanns Marktstand      Germany
44                     Let's Stop N Shop          USA
45                     LILA-Supermercado    Venezuela
46                      LINO-Delicateses    Venezuela
47              Lonesome Pine Restaurant          USA
48          Magazzini Alimentari Riuniti        Italy
49                          Maison Dewey      Belgium
50                        Mère Paillarde       Canada
51                Morgenstern Gesundkost      Germany
52                           North/South           UK
53                Océano Atlántico Ltda.    Argentina
54                Old World Delicatessen          USA
55                    Ottilies Käseladen      Germany
56                     Paris spécialités       France
57             Pericles Comidas clásicas       Mexico
58                      Piccolo und mehr      Austria
59               Princesa Isabel Vinhoss     Portugal
60                           Que Delícia       Brazil
61                         Queen Cozinha       Brazil
62                            QUICK-Stop      Germany
63                         Rancho grande    Argentina
64            Rattlesnake Canyon Grocery          USA
65                    Reggiani Caseifici        Italy
66                    Ricardo Adocicados       Brazil
67                    Richter Supermarkt  Switzerland
68                      Romero y tomillo        Spain
69                         Santé Gourmet       Norway
70                    Save-a-lot Markets          USA
71                    Seven Seas Imports           UK
72                         Simons bistro      Denmark
73                  Spécialités du monde       France
74                 Split Rail Beer & Ale          USA
75                      Suprêmes délices      Belgium
76                        The Big Cheese          USA
77                       The Cracker Box          USA
78                    Toms Spezialitäten      Germany
79                   Tortuga Restaurante       Mexico
80                Tradição Hipermercados       Brazil
81     Trail's Head Gourmet Provisioners          USA
82                          Vaffeljernet      Denmark
83                  Victuailles en stock       France
84             Vins et alcools Chevalier       France
85                     Die Wandernde Kuh      Germany
86                        Wartian Herkku      Finland
87                Wellington Importadora       Brazil
88                  White Clover Markets          USA
89                           Wilman Kala      Finland
90                                Wolski       Poland

# SQL Join - used to combine rows from two or more tables, based on a related column between them.

#synax
SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
FROM Orders
INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;

(INNER) JOIN: Returns records that have matching values in both tables
LEFT (OUTER) JOIN: Returns all records from the left table, and the matched records from the right table
RIGHT (OUTER) JOIN: Returns all records from the right table, and the matched records from the left table
FULL (OUTER) JOIN: Returns all records when there is a match in either left or right table


# Joining 3 tables
SELECT Orders.OrderID, Customers.CustomerName, Shippers.ShipperName
FROM ((Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID)
INNER JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID);

In [28]:
orders.head()

   OrderID  CustomerID  EmployeeID  OrderDate  ShipperID
0    10248          90           5 1996-07-04          3
1    10249          81           6 1996-07-05          1
2    10250          34           4 1996-07-08          2
3    10251          84           3 1996-07-08          1
4    10252          76           4 1996-07-09          2

In [29]:
pd.read_sql_query("select orders.OrderID,orders.OrderDate ,customers.CustomerName from orders inner join \
customers on orders.CustomerID = customers.CustomerID", con=cnx)

     OrderID                   OrderDate                        CustomerName
0      10248  1996-07-04 00:00:00.000000                         Wilman Kala
1      10249  1996-07-05 00:00:00.000000              Tradição Hipermercados
2      10250  1996-07-08 00:00:00.000000                       Hanari Carnes
3      10251  1996-07-08 00:00:00.000000                Victuailles en stock
4      10252  1996-07-09 00:00:00.000000                    Suprêmes délices
5      10253  1996-07-10 00:00:00.000000                       Hanari Carnes
6      10254  1996-07-11 00:00:00.000000                   Chop-suey Chinese
7      10255  1996-07-12 00:00:00.000000                  Richter Supermarkt
8      10256  1996-07-15 00:00:00.000000              Wellington Importadora
9      10257  1996-07-16 00:00:00.000000                    HILARIÓN-Abastos
10     10258  1996-07-17 00:00:00.000000                        Ernst Handel
11     10259  1996-07-18 00:00:00.000000          Centro comercial Moctezuma
12     10260  1996-07-19 00:00:00.000000              Old World Delicatessen
13     10261  1996-07-19 00:00:00.000000                         Que Delícia
14     10262  1996-07-22 00:00:00.000000          Rattlesnake Canyon Grocery
15     10263  1996-07-23 00:00:00.000000                        Ernst Handel
16     10264  1996-07-24 00:00:00.000000                      Folk och fä HB
17     10265  1996-07-25 00:00:00.000000                Blondel père et fils
18     10266  1996-07-26 00:00:00.000000                      Wartian Herkku
19     10267  1996-07-29 00:00:00.000000                      Frankenversand
20     10268  1996-07-30 00:00:00.000000                GROSELLA-Restaurante
21     10269  1996-07-31 00:00:00.000000                White Clover Markets
22     10270  1996-08-01 00:00:00.000000                      Wartian Herkku
23     10271  1996-08-01 00:00:00.000000               Split Rail Beer & Ale
24     10272  1996-08-02 00:00:00.000000          Rattlesnake Canyon Grocery
25     10273  1996-08-05 00:00:00.000000                          QUICK-Stop
26     10274  1996-08-06 00:00:00.000000           Vins et alcools Chevalier
27     10275  1996-08-07 00:00:00.000000        Magazzini Alimentari Riuniti
28     10276  1996-08-08 00:00:00.000000                 Tortuga Restaurante
29     10277  1996-08-09 00:00:00.000000              Morgenstern Gesundkost
30     10278  1996-08-12 00:00:00.000000                  Berglunds snabbköp
31     10279  1996-08-13 00:00:00.000000                 Lehmanns Marktstand
32     10280  1996-08-14 00:00:00.000000                  Berglunds snabbköp
33     10281  1996-08-14 00:00:00.000000                    Romero y tomillo
34     10282  1996-08-15 00:00:00.000000                    Romero y tomillo
35     10283  1996-08-16 00:00:00.000000                   LILA-Supermercado
36     10284  1996-08-19 00:00:00.000000                 Lehmanns Marktstand
37     10285  1996-08-20 00:00:00.000000                          QUICK-Stop
38     10286  1996-08-21 00:00:00.000000                          QUICK-Stop
39     10287  1996-08-22 00:00:00.000000                  Ricardo Adocicados
40     10288  1996-08-23 00:00:00.000000                  Reggiani Caseifici
41     10289  1996-08-26 00:00:00.000000                       B's Beverages
42     10290  1996-08-27 00:00:00.000000                    Comércio Mineiro
43     10291  1996-08-27 00:00:00.000000                         Que Delícia
44     10292  1996-08-28 00:00:00.000000              Tradição Hipermercados
45     10293  1996-08-29 00:00:00.000000                 Tortuga Restaurante
46     10294  1996-08-30 00:00:00.000000          Rattlesnake Canyon Grocery
47     10295  1996-09-02 00:00:00.000000           Vins et alcools Chevalier
48     10296  1996-09-03 00:00:00.000000                   LILA-Supermercado
49     10297  1996-09-04 00:00:00.000000                Blondel père et fils
50     10298  1996-09-05 00:00:00.000000        Hungry Owl All-Night Grocers
51     10299  1996-09-06 00:00:00.000000                  Ricardo Adocicados
52     10300  1996-09-09 00:00:00.000000        Magazzini Alimentari Riuniti
53     10301  1996-09-09 00:00:00.000000                   Die Wandernde Kuh
54     10302  1996-09-10 00:00:00.000000                    Suprêmes délices
55     10303  1996-09-11 00:00:00.000000                 Godos Cocina Típica
56     10304  1996-09-12 00:00:00.000000                 Tortuga Restaurante
57     10305  1996-09-13 00:00:00.000000              Old World Delicatessen
58     10306  1996-09-16 00:00:00.000000                    Romero y tomillo
59     10307  1996-09-17 00:00:00.000000            Lonesome Pine Restaurant
60     10308  1996-09-18 00:00:00.000000  Ana Trujillo Emparedados y helados
61     10309  1996-09-19 00:00:00.000000        Hungry Owl All-Night Grocers
62     10310  1996-09-20 00:00:00.000000                      The Big Cheese
63     10311  1996-09-20 00:00:00.000000                     Du monde entier
64     10312  1996-09-23 00:00:00.000000                   Die Wandernde Kuh
65     10313  1996-09-24 00:00:00.000000                          QUICK-Stop
66     10314  1996-09-25 00:00:00.000000          Rattlesnake Canyon Grocery
67     10315  1996-09-26 00:00:00.000000                      Island Trading
68     10316  1996-09-27 00:00:00.000000          Rattlesnake Canyon Grocery
69     10317  1996-09-30 00:00:00.000000            Lonesome Pine Restaurant
70     10318  1996-10-01 00:00:00.000000                      Island Trading
71     10319  1996-10-02 00:00:00.000000                 Tortuga Restaurante
72     10320  1996-10-03 00:00:00.000000                      Wartian Herkku
73     10321  1996-10-03 00:00:00.000000                      Island Trading
74     10322  1996-10-04 00:00:00.000000           Pericles Comidas clásicas
75     10323  1996-10-07 00:00:00.000000                     Königlich Essen
76     10324  1996-10-08 00:00:00.000000                  Save-a-lot Markets
77     10325  1996-10-09 00:00:00.000000                     Königlich Essen
78     10326  1996-10-10 00:00:00.000000           Bólido Comidas preparadas
79     10327  1996-10-11 00:00:00.000000                      Folk och fä HB
80     10328  1996-10-14 00:00:00.000000      Furia Bacalhau e Frutos do Mar
81     10329  1996-10-15 00:00:00.000000               Split Rail Beer & Ale
82     10330  1996-10-16 00:00:00.000000                   LILA-Supermercado
83     10331  1996-10-16 00:00:00.000000                            Bon app'
84     10332  1996-10-17 00:00:00.000000                      Mère Paillarde
85     10333  1996-10-18 00:00:00.000000                      Wartian Herkku
86     10334  1996-10-21 00:00:00.000000                Victuailles en stock
87     10335  1996-10-22 00:00:00.000000        Hungry Owl All-Night Grocers
88     10336  1996-10-23 00:00:00.000000             Princesa Isabel Vinhoss
89     10337  1996-10-24 00:00:00.000000                      Frankenversand
90     10338  1996-10-25 00:00:00.000000              Old World Delicatessen
91     10339  1996-10-28 00:00:00.000000                      Mère Paillarde
92     10340  1996-10-29 00:00:00.000000                            Bon app'
93     10341  1996-10-29 00:00:00.000000                       Simons bistro
94     10342  1996-10-30 00:00:00.000000                      Frankenversand
95     10343  1996-10-31 00:00:00.000000                 Lehmanns Marktstand
96     10344  1996-11-01 00:00:00.000000                White Clover Markets
97     10345  1996-11-04 00:00:00.000000                          QUICK-Stop
98     10346  1996-11-05 00:00:00.000000          Rattlesnake Canyon Grocery
99     10347  1996-11-06 00:00:00.000000                  Familia Arquibaldo
100    10348  1996-11-07 00:00:00.000000                   Die Wandernde Kuh
101    10349  1996-11-08 00:00:00.000000               Split Rail Beer & Ale
102    10350  1996-11-11 00:00:00.000000                    La maison d'Asie
103    10351  1996-11-11 00:00:00.000000                        Ernst Handel
104    10352  1996-11-12 00:00:00.000000      Furia Bacalhau e Frutos do Mar
105    10353  1996-11-13 00:00:00.000000                    Piccolo und mehr
106    10354  1996-11-14 00:00:00.000000           Pericles Comidas clásicas
107    10355  1996-11-15 00:00:00.000000                     Around the Horn
108    10356  1996-11-18 00:00:00.000000                   Die Wandernde Kuh
109    10357  1996-11-19 00:00:00.000000                   LILA-Supermercado
110    10358  1996-11-20 00:00:00.000000                    La maison d'Asie
111    10359  1996-11-21 00:00:00.000000                  Seven Seas Imports
112    10360  1996-11-22 00:00:00.000000                Blondel père et fils
113    10361  1996-11-22 00:00:00.000000                          QUICK-Stop
114    10362  1996-11-25 00:00:00.000000                            Bon app'
115    10363  1996-11-26 00:00:00.000000           Drachenblut Delikatessend
116    10364  1996-11-26 00:00:00.000000                  Eastern Connection
117    10365  1996-11-27 00:00:00.000000             Antonio Moreno Taquería
118    10366  1996-11-28 00:00:00.000000              Galería del gastrónomo
119    10367  1996-11-28 00:00:00.000000                        Vaffeljernet
120    10368  1996-11-29 00:00:00.000000                        Ernst Handel
121    10369  1996-12-02 00:00:00.000000               Split Rail Beer & Ale
122    10370  1996-12-03 00:00:00.000000                   Chop-suey Chinese
123    10371  1996-12-03 00:00:00.000000                    La maison d'Asie
124    10372  1996-12-04 00:00:00.000000                       Queen Cozinha
125    10373  1996-12-05 00:00:00.000000        Hungry Owl All-Night Grocers
126    10374  1996-12-05 00:00:00.000000                              Wolski
127    10375  1996-12-06 00:00:00.000000          Hungry Coyote Import Store
128    10376  1996-12-09 00:00:00.000000                      Mère Paillarde
129    10377  1996-12-09 00:00:00.000000                  Seven Seas Imports
130    10378  1996-12-10 00:00:00.000000                      Folk och fä HB
131    10379  1996-12-11 00:00:00.000000                         Que Delícia
132    10380  1996-12-12 00:00:00.000000        Hungry Owl All-Night Grocers
133    10381  1996-12-12 00:00:00.000000                   LILA-Supermercado
134    10382  1996-12-13 00:00:00.000000                        Ernst Handel
135    10383  1996-12-16 00:00:00.000000                     Around the Horn
136    10384  1996-12-16 00:00:00.000000                  Berglunds snabbköp
137    10385  1996-12-17 00:00:00.000000               Split Rail Beer & Ale
138    10386  1996-12-18 00:00:00.000000                  Familia Arquibaldo
139    10387  1996-12-18 00:00:00.000000                       Santé Gourmet
140    10388  1996-12-19 00:00:00.000000                  Seven Seas Imports
141    10389  1996-12-20 00:00:00.000000              Bottom-Dollar Marketse
142    10390  1996-12-23 00:00:00.000000                        Ernst Handel
143    10391  1996-12-23 00:00:00.000000           Drachenblut Delikatessend
144    10392  1996-12-24 00:00:00.000000                    Piccolo und mehr
145    10393  1996-12-25 00:00:00.000000                  Save-a-lot Markets
146    10394  1996-12-25 00:00:00.000000          Hungry Coyote Import Store
147    10395  1996-12-26 00:00:00.000000                    HILARIÓN-Abastos
148    10396  1996-12-27 00:00:00.000000                      Frankenversand
149    10397  1996-12-27 00:00:00.000000             Princesa Isabel Vinhoss
150    10398  1996-12-30 00:00:00.000000                  Save-a-lot Markets
151    10399  1996-12-31 00:00:00.000000                        Vaffeljernet
152    10400  1997-01-01 00:00:00.000000                  Eastern Connection
153    10401  1997-01-01 00:00:00.000000          Rattlesnake Canyon Grocery
154    10402  1997-01-02 00:00:00.000000                        Ernst Handel
155    10403  1997-01-03 00:00:00.000000                        Ernst Handel
156    10404  1997-01-03 00:00:00.000000        Magazzini Alimentari Riuniti
157    10405  1997-01-06 00:00:00.000000                    LINO-Delicateses
158    10406  1997-01-07 00:00:00.000000                       Queen Cozinha
159    10407  1997-01-07 00:00:00.000000                  Ottilies Käseladen
160    10408  1997-01-08 00:00:00.000000                   Folies gourmandes
161    10409  1997-01-09 00:00:00.000000              Océano Atlántico Ltda.
162    10410  1997-01-10 00:00:00.000000              Bottom-Dollar Marketse
163    10411  1997-01-10 00:00:00.000000              Bottom-Dollar Marketse
164    10412  1997-01-13 00:00:00.000000                      Wartian Herkku
165    10413  1997-01-14 00:00:00.000000                    La maison d'Asie
166    10414  1997-01-14 00:00:00.000000                  Familia Arquibaldo
167    10415  1997-01-15 00:00:00.000000          Hungry Coyote Import Store
168    10416  1997-01-16 00:00:00.000000                      Wartian Herkku
169    10417  1997-01-16 00:00:00.000000                       Simons bistro
170    10418  1997-01-17 00:00:00.000000                          QUICK-Stop
171    10419  1997-01-20 00:00:00.000000                  Richter Supermarkt
172    10420  1997-01-21 00:00:00.000000              Wellington Importadora
173    10421  1997-01-21 00:00:00.000000                         Que Delícia
174    10422  1997-01-22 00:00:00.000000                      Franchi S.p.A.
175    10423  1997-01-23 00:00:00.000000                 Gourmet Lanchonetes
176    10424  1997-01-23 00:00:00.000000                      Mère Paillarde
177    10425  1997-01-24 00:00:00.000000                    La maison d'Asie
178    10426  1997-01-27 00:00:00.000000              Galería del gastrónomo
179    10427  1997-01-27 00:00:00.000000                    Piccolo und mehr
180    10428  1997-01-28 00:00:00.000000                  Reggiani Caseifici
181    10429  1997-01-29 00:00:00.000000        Hungry Owl All-Night Grocers
182    10430  1997-01-30 00:00:00.000000                        Ernst Handel
183    10431  1997-01-30 00:00:00.000000              Bottom-Dollar Marketse
184    10432  1997-01-31 00:00:00.000000               Split Rail Beer & Ale
185    10433  1997-02-03 00:00:00.000000             Princesa Isabel Vinhoss
186    10434  1997-02-03 00:00:00.000000                      Folk och fä HB
187    10435  1997-02-04 00:00:00.000000               Consolidated Holdings
188    10436  1997-02-05 00:00:00.000000                Blondel père et fils
189    10437  1997-02-05 00:00:00.000000                      Wartian Herkku
190    10438  1997-02-06 00:00:00.000000                  Toms Spezialitäten
191    10439  1997-02-07 00:00:00.000000                      Mère Paillarde
192    10440  1997-02-10 00:00:00.000000                  Save-a-lot Markets
193    10441  1997-02-10 00:00:00.000000              Old World Delicatessen
194    10442  1997-02-11 00:00:00.000000                        Ernst Handel
195    10443  1997-02-12 00:00:00.000000                  Reggiani Caseifici

# SQL UNION - used to combine the result-set of two or more SELECT statements

#syntax
SELECT column_name(s) FROM table1
UNION
SELECT column_name(s) FROM table2;

UNION selects only distinct values by default. To allow duplicate values, use UNION ALL:
Every SELECT statement within UNION must have the same number of columns
The columns must also have similar data types
The columns in every SELECT statement must also be in the same order

#union with where
SELECT City, Country FROM Customers
WHERE Country='Germany'
UNION
SELECT City, Country FROM Suppliers
WHERE Country='Germany'
ORDER BY City;

In [30]:
pd.read_sql_query("select City from customers union select City from suppliers", con=cnx)

               City
0            Aachen
1       Albuquerque
2         Anchorage
3         Ann Arbor
4            Annecy
5         Barcelona
6      Barquisimeto
7              Bend
8           Bergamo
9            Berlin
10             Bern
11            Boise
12           Boston
13      Brandenburg
14        Bruxelles
15           Bräcke
16     Buenos Aires
17            Butte
18         Campinas
19          Caracas
20        Charleroi
21             Cork
22            Cowes
23        Cunewalde
24         Cuxhaven
25            Elgin
26           Eugene
27        Frankfurt
28   Frankfurt a.M.
29           Genève
30             Graz
31         Göteborg
32         Helsinki
33  I. de Margarita
34         Kirkland
35             Köln
36        København
37           Lander
38     Lappeenranta
39          Leipzig
40            Lille
41           Lisboa
42           London
43          Londona
44            Luleå
45           Lyngby
46             Lyon
47           Madrid
48       Manchester
49         Mannheim
50        Marseille
51        Melbourne
52         Montceau
53         Montréal
54      México D.F.
55          München
56          Münster
57           Nantes
58      New Orleans
59            Osaka
60             Oulu
61           Oviedo
62            Paris
63         Portland
64          Ravenna
65    Reggio Emilia
66            Reims
67          Resende
68   Rio de Janeiro
69          Salerno
70         Salzburg
71    San Cristóbal
72    San Francisco
73         Sandvika
74          Seattle
75          Sevilla
76        Singapore
77          Stavern
78    Ste-Hyacinthe
79        Stockholm
80       Strasbourg
81        Stuttgart
82           Sydney
83        São Paulo
84            Tokyo
85           Torino
86         Toulouse
87        Tsawassen
88        Vancouver
89       Versailles
90            Walla
91      Walla Walla
92          Zaandam
93            Århus

In [31]:
pd.read_sql_query("select City,Country from customers where Country='Germany' union select City,Country from suppliers where \
Country='Germany' order by City", con=cnx)

              City  Country
0           Aachen  Germany
1           Berlin  Germany
2      Brandenburg  Germany
3        Cunewalde  Germany
4         Cuxhaven  Germany
5        Frankfurt  Germany
6   Frankfurt a.M.  Germany
7             Köln  Germany
8          Leipzig  Germany
9         Mannheim  Germany
10         München  Germany
11         Münster  Germany
12       Stuttgart  Germany

# SQL GROUP BY - groups rows that have the same values into summary rows

SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
ORDER BY column_name(s);

used with aggregate functions (COUNT(), MAX(), MIN(), SUM(), AVG()) to group the result-set by one or more columns.

In [32]:
customers.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,5021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [33]:
pd.read_sql_query("select Country,count(City) from customers group by Country order by count(City) desc", con=cnx)

        Country  count(City)
0           USA           13
1       Germany           11
2        France           11
3        Brazil            9
4            UK            7
5         Spain            5
6        Mexico            5
7     Venezuela            4
8         Italy            3
9        Canada            3
10    Argentina            3
11  Switzerland            2
12       Sweden            2
13     Portugal            2
14      Finland            2
15      Denmark            2
16      Belgium            2
17      Austria            2
18       Poland            1
19       Norway            1
20      Ireland            1

# SQL HAVING -added to SQL because the WHERE keyword cannot be used with aggregate functions

#syntax
SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
HAVING condition
ORDER BY column_name(s);

In [34]:
pd.read_sql_query("select Country,count(City) from customers group by Country having count(City) > 5 \
order by count(City) desc", con=cnx)

   Country  count(City)
0      USA           13
1  Germany           11
2   France           11
3   Brazil            9
4       UK            7

# SQL EXISTS -used to test for the existence of any record in a subquery

#syntax
EXISTS operator returns TRUE if the subquery returns one or more records.
SELECT column_name(s)
FROM table_name
WHERE EXISTS
(SELECT column_name FROM table_name WHERE condition);

In [35]:
#lists the suppliers with a product price less than 20
pd.read_sql_query("select SupplierName from suppliers where exists (select ProductName from products where \
products.SupplierID = suppliers.supplierID and price < 20)", con=cnx)

                         SupplierName
0                       Exotic Liquid
1          New Orleans Cajun Delights
2                       Tokyo Traders
3                            Mayumi's
4                       Pavlova, Ltd.
5            Specialty Biscuits, Ltd.
6                    PB Knäckebröd AB
7           Refrescos Americanas LTDA
8         Heli Süßwaren GmbH & Co. KG
9   Plutzer Lebensmittelgroßmärkte AG
10            Formaggi Fortini s.r.l.
11                    Norske Meierier
12                  Bigfoot Breweries
13                  Svensk Sjöföda AB
14         Aux joyeux ecclésiastiques
15        New England Seafood Cannery
16                       Leka Trading
17                         Lyngbysild
18                Zaanse Snoepfabriek
19                          Karkki Oy
20                        G'day, Mate
21                          Ma Maison
22               Pasta Buttini s.r.l.
23                 Escargots Nouveaux

# SQL ANY and ALL - allow you to perform a comparison between a single column value and a range of other values.

#syntax - any
SELECT column_name(s)
FROM table_name
WHERE column_name operator ANY
  (SELECT column_name
  FROM table_name
  WHERE condition);
    
#sytax - all
SELECT column_name(s)
FROM table_name
WHERE column_name operator ALL
  (SELECT column_name
  FROM table_name
  WHERE condition);

In [36]:
pd.read_sql_query("select ProductName from products where ProductID = any(select ProductID from orderdetails where \
Quantity = 10)", con=cnx)

OperationalError: (sqlite3.OperationalError) near "select": syntax error
[SQL: select ProductName from products where ProductID = any(select ProductID from orderdetails where Quantity = 10)]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [37]:
pd.read_sql_query("select ProductName from products where ProductID = all(select ProductID from orderdetails where \
Quantity = 10)", con=cnx)

OperationalError: (sqlite3.OperationalError) near "all": syntax error
[SQL: select ProductName from products where ProductID = all(select ProductID from orderdetails where Quantity = 10)]
(Background on this error at: http://sqlalche.me/e/e3q8)

# SQL SELECT INTO-copies data from one table into a new table

#syntax
SELECT *
INTO newtable [IN externaldb]
FROM oldtable
WHERE condition;

SELECT column1, column2, column3, ...
INTO newtable [IN externaldb]
FROM oldtable
WHERE condition;

In [38]:
customers.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,5021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [39]:
pd.read_sql_query("select CustomerName,ContactName into customerbackup2017 from customers", con=cnx)

OperationalError: (sqlite3.OperationalError) near "into": syntax error
[SQL: select CustomerName,ContactName into customerbackup2017 from customers]
(Background on this error at: http://sqlalche.me/e/e3q8)

# SQL CASE- goes through conditions and returns a value when the first condition is met (like an if-then-else statement)

#syntax
CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    WHEN conditionN THEN resultN
    ELSE result
END;

In [41]:
pd.read_sql_query("select OrderID,Quantity,case when Quantity > 30 then 'The quantity is greater than 30' \
when Quantity=30 then 'The quantity is 30' else 'The quantity is under 30' end as  QuantityText from orderdetails", con=cnx)

     OrderID  Quantity                     QuantityText
0      10248        12         The quantity is under 30
1      10248        10         The quantity is under 30
2      10248         5         The quantity is under 30
3      10249         9         The quantity is under 30
4      10249        40  The quantity is greater than 30
5      10250        10         The quantity is under 30
6      10250        35  The quantity is greater than 30
7      10250        15         The quantity is under 30
8      10251         6         The quantity is under 30
9      10251        15         The quantity is under 30
10     10251        20         The quantity is under 30
11     10252        40  The quantity is greater than 30
12     10252        25         The quantity is under 30
13     10252        40  The quantity is greater than 30
14     10253        20         The quantity is under 30
15     10253        42  The quantity is greater than 30
16     10253        40  The quantity is greater than 30
17     10254        15         The quantity is under 30
18     10254        21         The quantity is under 30
19     10254        21         The quantity is under 30
20     10255        20         The quantity is under 30
21     10255        35  The quantity is greater than 30
22     10255        25         The quantity is under 30
23     10255        30               The quantity is 30
24     10256        15         The quantity is under 30
25     10256        12         The quantity is under 30
26     10257        25         The quantity is under 30
27     10257         6         The quantity is under 30
28     10257        15         The quantity is under 30
29     10258        50  The quantity is greater than 30
30     10258        65  The quantity is greater than 30
31     10258         6         The quantity is under 30
32     10259        10         The quantity is under 30
33     10259         1         The quantity is under 30
34     10260        16         The quantity is under 30
35     10260        50  The quantity is greater than 30
36     10260        15         The quantity is under 30
37     10260        21         The quantity is under 30
38     10261        20         The quantity is under 30
39     10261        20         The quantity is under 30
40     10262        12         The quantity is under 30
41     10262        15         The quantity is under 30
42     10262         2         The quantity is under 30
43     10263        60  The quantity is greater than 30
44     10263        28         The quantity is under 30
45     10263        60  The quantity is greater than 30
46     10263        36  The quantity is greater than 30
47     10264        35  The quantity is greater than 30
48     10264        25         The quantity is under 30
49     10265        30               The quantity is 30
50     10265        20         The quantity is under 30
51     10266        12         The quantity is under 30
52     10267        50  The quantity is greater than 30
53     10267        70  The quantity is greater than 30
54     10267        15         The quantity is under 30
55     10268        10         The quantity is under 30
56     10268         4         The quantity is under 30
57     10269        60  The quantity is greater than 30
58     10269        20         The quantity is under 30
59     10270        30               The quantity is 30
60     10270        25         The quantity is under 30
61     10271        24         The quantity is under 30
62     10272         6         The quantity is under 30
63     10272        40  The quantity is greater than 30
64     10272        24         The quantity is under 30
65     10273        24         The quantity is under 30
66     10273        15         The quantity is under 30
67     10273        20         The quantity is under 30
68     10273        60  The quantity is greater than 30
69     10273        33  The quantity is greater than 30
70     10274        20         The quantity is under 30
71     10274         7         The quantity is under 30
72     10275        12         The quantity is under 30
73     10275         6         The quantity is under 30
74     10276        15         The quantity is under 30
75     10276        10         The quantity is under 30
76     10277        20         The quantity is under 30
77     10277        12         The quantity is under 30
78     10278        16         The quantity is under 30
79     10278        15         The quantity is under 30
80     10278         8         The quantity is under 30
81     10278        25         The quantity is under 30
82     10279        15         The quantity is under 30
83     10280        12         The quantity is under 30
84     10280        20         The quantity is under 30
85     10280        30               The quantity is 30
86     10281         1         The quantity is under 30
87     10281         6         The quantity is under 30
88     10281         4         The quantity is under 30
89     10282         6         The quantity is under 30
90     10282         2         The quantity is under 30
91     10283        20         The quantity is under 30
92     10283        18         The quantity is under 30
93     10283        35  The quantity is greater than 30
94     10283         3         The quantity is under 30
95     10284        15         The quantity is under 30
96     10284        21         The quantity is under 30
97     10284        20         The quantity is under 30
98     10284         5         The quantity is under 30
99     10285        45  The quantity is greater than 30
100    10285        40  The quantity is greater than 30
101    10285        36  The quantity is greater than 30
102    10286       100  The quantity is greater than 30
103    10286        40  The quantity is greater than 30
104    10287        40  The quantity is greater than 30
105    10287        20         The quantity is under 30
106    10287        15         The quantity is under 30
107    10288        10         The quantity is under 30
108    10288         3         The quantity is under 30
109    10289        30               The quantity is 30
110    10289         9         The quantity is under 30
111    10290        20         The quantity is under 30
112    10290        15         The quantity is under 30
113    10290        15         The quantity is under 30
114    10290        10         The quantity is under 30
115    10291        20         The quantity is under 30
116    10291        24         The quantity is under 30
117    10291         2         The quantity is under 30
118    10292        20         The quantity is under 30
119    10293        12         The quantity is under 30
120    10293        10         The quantity is under 30
121    10293         5         The quantity is under 30
122    10293         6         The quantity is under 30
123    10294        18         The quantity is under 30
124    10294        15         The quantity is under 30
125    10294        15         The quantity is under 30
126    10294        21         The quantity is under 30
127    10294         6         The quantity is under 30
128    10295         4         The quantity is under 30
129    10296        12         The quantity is under 30
130    10296        30               The quantity is 30
131    10296        15         The quantity is under 30
132    10297        60  The quantity is greater than 30
133    10297        20         The quantity is under 30
134    10298        40  The quantity is greater than 30
135    10298        40  The quantity is greater than 30
136    10298        30               The quantity is 30
137    10298        15         The quantity is under 30
138    10299        15         The quantity is under 30
139    10299        20         The quantity is under 30
140    10300        30               The quantity is 30
141    10300        20         The quantity is under 30
142    10301        10         The quantity is under 30
143    10301        20         The quantity is under 30
144    10302        40  The quantity is greater than 30
145    10302        28         The quantity is under 30
146    10302        12         The quantity is under 30
147    10303        40  The quantity is greater than 30
148    10303        30               The quantity is 30
149    10303        15         The quantity is under 30
150    10304        30               The quantity is 30
151    10304        10         The quantity is under 30
152    10304         2         The quantity is under 30
153    10305        25         The quantity is under 30
154    10305        25         The quantity is under 30
155    10305        30               The quantity is 30
156    10306        10         The quantity is under 30
157    10306        10         The quantity is under 30
158    10306         5         The quantity is under 30
159    10307        10         The quantity is under 30
160    10307         3         The quantity is under 30
161    10308         1         The quantity is under 30
162    10308         5         The quantity is under 30
163    10309        20         The quantity is under 30
164    10309        30               The quantity is 30
165    10309         2         The quantity is under 30
166    10309        20         The quantity is under 30
167    10309         3         The quantity is under 30
168    10310        10         The quantity is under 30
169    10310         5         The quantity is under 30
170    10311         6         The quantity is under 30
171    10311         7         The quantity is under 30
172    10312         4         The quantity is under 30
173    10312        24         The quantity is under 30
174    10312        20         The quantity is under 30
175    10312        10         The quantity is under 30
176    10313        12         The quantity is under 30
177    10314        40  The quantity is greater than 30
178    10314        30               The quantity is 30
179    10314        25         The quantity is under 30
180    10315        14         The quantity is under 30
181    10315        30               The quantity is 30
182    10316        10         The quantity is under 30
183    10316        70  The quantity is greater than 30
184    10317        20         The quantity is under 30
185    10318        20         The quantity is under 30
186    10318         6         The quantity is under 30
187    10319         8         The quantity is under 30
188    10319        14         The quantity is under 30
189    10319        30               The quantity is 30
190    10320        30               The quantity is 30
191    10321        10         The quantity is under 30
192    10322        20         The quantity is under 30
193    10323         5         The quantity is under 30
194    10323         4         The quantity is under 30
195    10323         4         The quantity is under 30
196    10324        21         The quantity is under 30
197    10324        70  The quantity is greater than 30
198    10324        30               The quantity is 30
199    10324        40  The quantity is greater than 30
200    10324        80  The quantity is greater than 30
201    10325         6         The quantity is under 30
202    10325        12         The quantity is under 30
203    10325         9         The quantity is under 30
204    10325         4         The quantity is under 30
205    10325        40  The quantity is greater than 30
206    10326        24         The quantity is under 30
207    10326        16         The quantity is under 30
208    10326        50  The quantity is greater than 30
209    10327        25         The quantity is under 30
210    10327        50  The quantity is greater than 30
211    10327        35  The quantity is greater than 30
212    10327        30               The quantity is 30
213    10328         9         The quantity is under 30
214    10328        40  The quantity is greater than 30
215    10328        10         The quantity is under 30
216    10329        10         The quantity is under 30
217    10329         8         The quantity is under 30
218    10329        20         The quantity is under 30
219    10329        12         The quantity is under 30
220    10330        50  The quantity is greater than 30
221    10330        25         The quantity is under 30
222    10331        15         The quantity is under 30
223    10332        40  The quantity is greater than 30
224    10332        10         The quantity is under 30
225    10332        16         The quantity is under 30
226    10333        10         The quantity is under 30
227    10333        10         The quantity is under 30
228    10333        40  The quantity is greater than 30
229    10334         8         The quantity is under 30
230    10334        10         The quantity is under 30
231    10335         7         The quantity is under 30
232    10335        25         The quantity is under 30
233    10335         6         The quantity is under 30
234    10335        48  The quantity is greater than 30
235    10336        18         The quantity is under 30
236    10337        40  The quantity is greater than 30
237    10337        24         The quantity is under 30
238    10337        20         The quantity is under 30
239    10337        28         The quantity is under 30
240    10337        25         The quantity is under 30
241    10338        20         The quantity is under 30
242    10338        15         The quantity is under 30
243    10339        10         The quantity is under 30
244    10339        70  The quantity is greater than 30
245    10339        28         The quantity is under 30
246    10340        20         The quantity is under 30
247    10340        12         The quantity is under 30
248    10340        40  The quantity is greater than 30
249    10341         8         The quantity is under 30
250    10341         9         The quantity is under 30
251    10342        24         The quantity is under 30
252    10342        56  The quantity is greater than 30
253    10342        40  The quantity is greater than 30
254    10342        40  The quantity is greater than 30
255    10343        50  The quantity is greater than 30
256    10343         4         The quantity is under 30
257    10343        15         The quantity is under 30
258    10344        35  The quantity is greater than 30
259    10344        70  The quantity is greater than 30
260    10345        70  The quantity is greater than 30
261    10345        80  The quantity is greater than 30
262    10345         9         The quantity is under 30
263    10346        36  The quantity is greater than 30
264    10346        20         The quantity is under 30
265    10347        10         The quantity is under 30
266    10347        50  The quantity is greater than 30
267    10347         4         The quantity is under 30
268    10347         6         The quantity is under 30
269    10348        15         The quantity is under 30
270    10348        25         The quantity is under 30
271    10349        24         The quantity is under 30
272    10350        15         The quantity is under 30
273    10350        18         The quantity is under 30
274    10351        20         The quantity is under 30
275    10351        13         The quantity is under 30
276    10351        77  The quantity is greater than 30
277    10351        10         The quantity is under 30
278    10352        10         The quantity is under 30
279    10352        20         The quantity is under 30
280    10353        12         The quantity is under 30
281    10353        50  The quantity is greater than 30
282    10354        12         The quantity is under 30
283    10354         4         The quantity is under 30
284    10355        25         The quantity is under 30
285    10355        25         The quantity is under 30
286    10356        30               The quantity is 30
287    10356        12         The quantity is under 30
288    10356        20         The quantity is under 30
289    10357        30               The quantity is 30
290    10357        16         The quantity is under 30
291    10357         8         The quantity is under 30
292    10358        10         The quantity is under 30
293    10358        10         The quantity is under 30
294    10358        20         The quantity is under 30
295    10359        56  The quantity is greater than 30
296    10359        70  The quantity is greater than 30
297    10359        80  The quantity is greater than 30
298    10360        30               The quantity is 30
299    10360        35  The quantity is greater than 30
300    10360        10         The quantity is under 30
301    10360        35  The quantity is greater than 30
302    10360        28         The quantity is under 30
303    10361        54  The quantity is greater than 30
304    10361        55  The quantity is greater than 30
305    10362        50  The quantity is greater than 30
306    10362        20         The quantity is under 30
307    10362        24         The quantity is under 30
308    10363        20         The quantity is under 30
309    10363        12         The quantity is under 30
310    10363        12         The quantity is under 30
311    10364        30               The quantity is 30
312    10364         5         The quantity is under 30
313    10365        24         The quantity is under 30
314    10366         5         The quantity is under 30
315    10366         5         The quantity is under 30
316    10367        36  The quantity is greater than 30
317    10367        18         The quantity is under 30
318    10367        15         The quantity is under 30
319    10367         7         The quantity is under 30
320    10368         5         The quantity is under 30
321    10368        13         The quantity is under 30
322    10368        25         The quantity is under 30
323    10368        35  The quantity is greater than 30
324    10369        20         The quantity is under 30
325    10369        18         The quantity is under 30
326    10370        15         The quantity is under 30
327    10370        30               The quantity is 30
328    10370        20         The quantity is under 30
329    10371         6         The quantity is under 30
330    10372        12         The quantity is under 30
331    10372        40  The quantity is greater than 30
332    10372        70  The quantity is greater than 30
333    10372        42  The quantity is greater than 30
334    10373        80  The quantity is greater than 30
335    10373        50  The quantity is greater than 30
336    10374        30               The quantity is 30
337    10374        15         The quantity is under 30
338    10375        15         The quantity is under 30
339    10375        10         The quantity is under 30
340    10376        42  The quantity is greater than 30
341    10377        20         The quantity is under 30
342    10377        20         The quantity is under 30
343    10378         6         The quantity is under 30
344    10379         8         The quantity is under 30
345    10379        16         The quantity is under 30
346    10379        20         The quantity is under 30
347    10380        18         The quantity is under 30
348    10380        20         The quantity is under 30
349    10380         6         The quantity is under 30
350    10380        30               The quantity is 30
351    10381        14         The quantity is under 30
352    10382        32  The quantity is greater than 30
353    10382         9         The quantity is under 30
354    10382        14         The quantity is under 30
355    10382        60  The quantity is greater than 30

# SQL NULL - IFNULL(), ISNULL(), COALESCE(), and NVL()

#syntax  IFNULL() function lets you return an alternative value if an expression is NULL
SELECT ProductName, UnitPrice * (UnitsInStock + IFNULL(UnitsOnOrder, 0))
FROM Products;

In [42]:
products.head()

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,1,Chais,1,1,10 boxes x 20 bags,18.00
1,2,Chang,1,1,24 - 12 oz bottles,19.00
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35

In [51]:
pd.read_sql_query("select ProductName,(Price*(IFNULL(SupplierID, 0)+IFNULL(CategoryID, 0))) as null_test \
from products", con=cnx)

                         ProductName  null_test
0                              Chais      36.00
1                              Chang      38.00
2                      Aniseed Syrup      30.00
3       Chef Anton's Cajun Seasoning      88.00
4             Chef Anton's Gumbo Mix      85.40
5       Grandma's Boysenberry Spread     125.00
6    Uncle Bob's Organic Dried Pears     300.00
7         Northwoods Cranberry Sauce     200.00
8                    Mishi Kobe Niku     970.00
9                              Ikura     372.00
10                    Queso Cabrales     189.00
11         Queso Manchego La Pastora     342.00
12                             Konbu      84.00
13                              Tofu     302.25
14                      Genen Shouyu     124.00
15                           Pavlova     174.50
16                      Alice Mutton     507.00
17                  Carnarvon Tigers     937.50
18        Teatime Chocolate Biscuits     101.20
19            Sir Rodney's Marmalade     891.00
20               Sir Rodney's Scones     110.00
21               Gustaf's Knäckebröd     294.00
22                          Tunnbröd     126.00
23                Guaraná Fantástica      49.50
24           NuNuCa Nuß-Nougat-Creme     196.00
25               Gumbär Gummibärchen     437.22
26                Schoggi Schokolade     614.60
27                 Rössle Sauerkraut     866.40
28           Thüringer Rostbratwurst    2228.22
29             Nord-Ost Matjeshering     543.69
30                 Gorgonzola Telino     225.00
31                Mascarpone Fabioli     576.00
32                           Geitost      47.50
33                     Sasquatch Ale     238.00
34                    Steeleye Stout     306.00
35                       Inlagd Sill     475.00
36                        Gravad lax     650.00
37                     Côte de Blaye    5006.50
38                  Chartreuse verte     342.00
39                  Boston Crab Meat     496.80
40   Jack's New England Clam Chowder     260.55
41     Singaporean Hokkien Fried Mee     350.00
42                       Ipoh Coffee     966.00
43                      Gula Malacca     427.90
44                       Røgede sild     275.50
45                         Spegesild     348.00
46                     Zaanse koeken     237.50
47                         Chocolade     318.75
48                          Maxilaku     520.00
49                  Valkoinen suklaa     422.50
50             Manjimup Dried Apples    1643.00
51                          Filo Mix     203.00
52                     Perth Pasties     984.00
53                         Tourtière     230.95
54                      Pâté chinois     744.00
55            Gnocchi di nonna Alice    1178.00
56                    Ravioli Angelo     604.50
57            Escargots de Bourgogne     463.75
58              Raclette Courdavault    1760.00
59                 Camembert Pierrot    1088.00
60                    Sirop d'érable     883.50
61                    Tarte au sucre    1577.60
62                      Vegie-spread     395.10
63         Wimmers gute Semmelknödel     565.25
64  Louisiana Fiery Hot Pepper Sauce      84.20
65         Louisiana Hot Spiced Okra      68.00
66         Laughing Lumberjack Lager     238.00
67               Scottish Longbreads     137.50
68                  Gudbrandsdalsost     684.00
69                     Outback Lager     120.00
70                       Fløtemysost     408.50
71            Mozzarella di Giovanni     626.40
72                        Röd Kaviar     375.00
73                     Longlife Tofu     110.00
74              Rhönbräu Klosterbier     100.75
75                      Lakkalikööri     432.00
76   Original Frankfurter grüne Soße     182.00